<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}dropit{% endblock %}</title>
    <link rel="icon" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
{% block body_before %}{% endblock %}
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
